NET "InternalClock" LOC="K3" | IOSTANDARD = LVCMOS33 | PERIOD = 25 MHz;

CONFIG VCCAUX=3.3;

# HDMI A
#NET "HDMI_A_DataP[2]" LOC="U16" | IOSTANDARD = TMDS_33;
#NET "HDMI_A_DataP[1]" LOC="U15" | IOSTANDARD = TMDS_33;
#NET "HDMI_A_DataP[0]" LOC="T14" | IOSTANDARD = TMDS_33;
#NET "HDMI_A_ClockP" LOC="T12" | IOSTANDARD = TMDS_33 | CLOCK_DEDICATED_ROUTE = FALSE;


# HDMI B
#NET "HDMI_B_DataP[2]" LOC="U11" | IOSTANDARD = TMDS_33;
#NET "HDMI_B_DataP[1]" LOC="U10" | IOSTANDARD = TMDS_33;
#NET "HDMI_B_DataP[0]" LOC="T9" | IOSTANDARD = TMDS_33;
#NET "HDMI_B_ClockP" LOC="U8" | IOSTANDARD = TMDS_33;

# HDMI C
#NET "HDMI_C_DataP[2]" LOC="U7" | IOSTANDARD = TMDS_33;
#NET "HDMI_C_DataP[1]" LOC="T6" | IOSTANDARD = TMDS_33;
#NET "HDMI_C_DataP[0]" LOC="U5" | IOSTANDARD = TMDS_33;
#NET "HDMI_C_ClockP" LOC="T4" | IOSTANDARD = TMDS_33;

# LEDs
NET "LED[0]" LOC = C1 | IOSTANDARD = LVCMOS33;
NET "LED[1]" LOC = C2 | IOSTANDARD = LVCMOS33;
